<h1>Root#root</h1>
<p>Find me in app/views/root/root.html.erb</p>

root画面

コンテキストなしのurlでのアクセスで表示

<ul>
<li><%=link_to '初期表示', '/sample/down'%></li>
<li><%=link_to 'post確認', '/use_form/up'%></li>
</ul>
